#request_nav {
    background-color: #F0F2F3;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px; }
  
  #request_nav ul {
    margin: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-weight: 600; }
  
  #request_nav ul .active {
    background-color: rgba(139, 139, 139, 0.43);
    color: white !important; }
  
  #request_nav ul li {
    display: inline-block;
    padding: 10px 20px; }
  
  #request_nav ul li a {
    color: black;
    width: 20%; }
  
  #request_nav ul li a:hover {
    color: gray !important;
    text-decoration: none; }
  
  #request_nav ul li a p {
    display: flex;
    justify-content: center;
    margin: 6px; }
  
  a p .fa {
    display: flex;
    font-size: 60px;
    justify-content: center !important; }
  
  #request_nav ul li a div p {
    text-align: center;
    display: flex;
    justify-content: center; }
  
  #footer_nav {
    margin-top: 30px; }
  
    .control-izquierdo a{
      font-size: 120px;
      position: absolute;
      top: 50%;
      left: 1%;
      color: #F0F2F3;   
    }
    .control-derecho a{
      font-size: 120px;
      position: absolute;
      top: 50%;
      left: 90%;
      color: #F0F2F3;      
    }
    .control-derecho a:hover, .control-izquierdo a:hover{
      color: rgb(145, 147, 148);
    }