*{
    margin: 0;
    padding: 0;
}
/* NAVBAR */
navbar{    
    background-color: #23282E;
    width: 100%;
    height: 60px;   
    display: flex;
    justify-content: space-around;
}
navbar ul{    
    font-weight: 600;
    list-style-type: none;
}
navbar ul li{
    display: inline-block;
    padding: 20px;
}
navbar ul li a{
    color: white;                
    position: relative;            
}
navbar .hover-ul-effect li a:after{                  
      position: absolute;
      top: 64%;            
      left: 0%;
      width: 100%;
      height: 5px;
      background-color: rgba(223, 223, 223, 0.911);
      content: "";
      opacity: 0;
      transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
      transform: translateY(20px);             
}
navbar ul li a:hover:after{
      opacity:1;    
      transform: translateY(15px);    
      
}
navbar ul li .active:after{
    opacity:1;    
    transform: translateY(15px); 
}
navbar ul li a:hover{
    color: white;
    text-decoration: none;
}

/* ELEMENTOS DE SESIÓN */
.session-options{
    margin-top: -2px;
    line-height: 0;
}

navbar .session{
    color: rgba(255,255,255,.5);
    padding-top: -20px;
}
navbar .session:after{
      position: absolute;
      top: 64%;            
      left: 0%;
      width: 100%;
      height: 1px;
      background-color: rgba(223, 223, 223, 0.911);
      content: "";
      opacity: 0;
      transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
      transform: translateY(20px); 
      
}

#DataTables_Table_0_wrapper .row{
  margin-right: 0px!important;
  margin-left: 0px!important;
}


.terminos{
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        border: 1px solid #ced4da;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        margin: 25px;
    }
    .terminos:hover{
        
        border-color: #BFDEFF;
        outline: 0;
        box-shadow: 0 0 0 0.2rem #BFDEFFCC;
    }



    *{
            margin: 0;
            padding: 0;
        }
         .modal-header{
            background-color: #787A7C;
            
        }
        #barraLateral{
            background-color: #B3BAC3;
            height: 100%;
            width: 8%;
            top: 0;
            left: 0;
            position: absolute;
            margin-top: -1px;
        }
        
        #previsualizacion{
            margin-left: 12%; 
         
        }
        
        
        .grid-container{
            display: grid; 
            grid-template-columns: 200px auto;
            grid-gap: 10px 1px;
            padding-bottom: 15px;
            padding-top: 15px;
            
        }
        .titulo{
            font-weight: 600;
            font-size: 18px;
        }


                     .contenedor{
                         padding: 25px 30px;
                         margin: 0px 15%;
                     }
                     
                     .cabecera h1{
                         font-size: 18px; 
                         font-weight: bold;
                         text-align: center;            
                     }
                     .cabecera h2 {
                         font-size: 12px;
                         padding: 0px 60px;
                         font-weight: 600;
                         font-family: sans-serif;
                         text-align: center;     
                         color: #808080;
                             
                     }
                        
                     #informacion_del_proceso{
                         font-size: 10px;
                         display: grid; 
                         grid-template-columns: 160px auto 100px 100px;
                         grid-gap: 10px px;
                         padding-bottom: 5px;
                         padding-top: 15px;
                         border-bottom: 2px solid gray;
                         
                     }
                     .titulo{
                         font-weight: bold;
                     }
                     .contenedor-de-informacion{
                         margin-top: 30px;
                         font-size: 10px;
                     }
                     .contenedor-de-informacion h2{
                         font-size: 12px;
                         padding-left: 20px;
                         padding-bottom: 3px;
                         border-bottom: 2px solid gray;
                         margin-bottom: 15px;
                     }
                     .grid-informacion{
                         display: grid; 
                         grid-template-columns: 220px auto;
                         grid-gap: 8px 1px;                                    
                     }
                     .grid-title{
                         display: grid;
                         grid-template-columns: 220px auto 200px;
                     }
                        
                    .footer-grid{
                     display: grid;
                         grid-template-columns: auto 80px;
                        grid-gap: 10px 20px;
                    }
                    #clausulas{
                        margin-top: 10px;
                    }
                    #clausulas .clausula{               
                        font-size: 8px;
                        text-align: justify;
                        padding-top: 2px;
                    }
                    .nota{
                        color: gray;
                        text-align: center;
                        margin: 14px;
                        font-size: 10px;
                    }
                    .footer-grid img{
                        margin: auto;
             
                    }

@media all{
   printed-div{
       display:none;
   }
}

@media print{
   printed-div{
       display:block;
   }
   .logo-print{
       width:291px;
       height:109px;
       display: list-item;
       list-style-image: url(../images/logo_print.png);
       list-style-position: inside;
   }
}



