#tipo_de_persona input[type=radio] {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: -6px;
    vertical-align: middle; }

.all{
    height: 1.5rem;
    width: 1.5rem;
    margin-top: -6px;
    vertical-align: middle; }
  
  #tipo_de_persona label {
    font-size: 18px; }
  
  /*Buscador */
  /* Elemento invisible del buscador */
  #resultado_de_la_busqueda {
    background-color: lightgray;
    position: absolute;
    width: 0%;
    height: 1px;
    border: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    z-index: 999;
    overflow-y: scroll; }
  
  #resultado_de_la_busqueda div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4; }
  
  #resultado_de_la_busqueda div:hover {
    background-color: #e9e9e9; }
  
  /*  */
  .has-danger, .has-danger:focus {
    border-color: #ff8080;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25); }
  
  /* Buscador cuando no está bien */
  .checkbox {
    padding-left: 20px; }
  
  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 20px;
    padding-top: 0px;
    width: 100%; }
  
  .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 34px;
    height: 34px;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    top: -1px;
    left: -1px; }
  
  .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
  
  .checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1; }
  
  .checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  
  .checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\F00C";
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: #fff;
    font-size: 26px;
    border-radius: 50%;
    line-height: 33px; }
  
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  
  .checkbox.checkbox-inline {
    margin-top: 0; }
  
  /** */
  .contenedor-requisitos ul {
    list-style-type: none;    
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    max-height: 500px; 
    overflow-y: auto;

  }
  
  .contenedor-fundamento ul li {
    padding-left: 20px;
    font-size: 28px;
    text-decoration: none; }
  
  .contenedor-fundamento ul {
    padding-top: 10px;
    list-style-type: none;
   }
  